@charset "UTF-8";
@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


html {
  font-size: 62.5%;
}
@media (max-width: 1225px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #878680;
  font-size: 1.6rem;
  line-height: 3.6rem;
  background: #fff;
  padding-top: 5rem;
}

[class*=__container] {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

[class*=__container-1] {
  max-width: 151rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.title {
  font-size: 4.8rem;
  line-height: 1.2;
  font-weight: 800;
  color: #1F1E17;
  text-align: center;
}

.subtitle {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #EEC044;
  text-align: center;
  display: block;
}

.text {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
  color: #1F1E17;
}

.text-align-center {
  text-align: center;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.color-yellow {
  color: #EEC044;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  background: #4BAF47;
  padding: 1.4rem 2rem;
  border-radius: 1rem;
  transition: all 0.3s;
  position: relative;
  border: none;
  text-align: center;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
}
.btn:hover::after {
  opacity: 0;
  transform: scalex(1.5) scaley(1.8);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 1rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: BtnToUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

.btn__yellow, .btn__yellow:link, .btn__yellow:visited {
  background: #EEC044;
  color: #fff;
}
.btn__yellow:hover::after, .btn__yellow:link:hover::after, .btn__yellow:visited:hover::after {
  background: #878680;
}

.header {
  background: url(../../img/Section.png) 50% 100% no-repeat;
  position: relative;
  margin: -1.5rem 0;
}
.header__container {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22.1rem;
}
@media (max-width: 1225px) {
  .header__container {
    gap: 4rem;
  }
}
.header__nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  flex: 0 0 17rem;
}
@media (max-width: 900px) {
  .header__logo {
    flex: 0 0 8rem;
  }
}
.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.header .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .contact__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-right: 0.1rem solid #E4E2D7;
  padding: 1.5rem;
}
.header .contact__item:last-child {
  border-right: 0.1rem solid transparent;
}
.header .contact__item i {
  font-size: 4rem;
  color: #4BAF47;
}
@media (max-width: 1225px) {
  .header .contact__item i {
    font-size: 3rem;
  }
}
.header .contact__body {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.header .contact__title {
  font-size: 1.2rem;
  line-height: 2rem;
}
.header .contact__text {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #1F1E17;
}
@media (max-width: 1000px) {
  .header .contact .contact__body {
    display: none;
  }
  .header .contact .contact__body.active {
    display: block;
  }
}
.header .burger-menu {
  display: none;
}
@media (max-width: 900px) {
  .header .burger-menu {
    display: flex;
  }
  .header .burger-menu.active {
    display: none;
  }
}
.header .burger-menu-close {
  display: none;
}
@media (max-width: 900px) {
  .header .burger-menu-close.active {
    display: flex;
  }
}
@media (max-width: 767px) {
  .header .burger-menu-close {
    position: relative;
    z-index: 3;
  }
}
.header i {
  font-size: 2rem;
}
@media (max-width: 900px) {
  .header i {
    padding: 1rem;
  }
}

@media (max-width: 900px) {
  .social {
    display: none;
  }
}
.social__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social__link {
  width: 4rem;
  display: block;
  text-align: center;
  width: 4rem;
  border-radius: 50%;
  background: #F8F7F0;
  overflow: hidden;
  border: 0.1rem solid #878680;
}
.social__link i {
  font-size: 1.5rem;
  color: #1F1E17;
}
.social__link:hover {
  opacity: 0.5;
}

.order-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  border-left: 0.1rem solid #E4E2D7;
  padding-left: 3.1rem;
}
.order-wrapper a {
  color: #1F1E17;
  display: block;
  transition: all 0.3s;
}
.order-wrapper a:hover {
  opacity: 0.5;
  transform: scale(1.5);
  transition: all 0.3s;
}

.footer {
  background-color: #24231D;
}
.footer__container {
  padding: 11.8rem 1.5rem;
}
.footer__row {
  gap: 1.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 467px) {
  .footer__row {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer__row {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-items: center;
  }
}
@media (max-width: 467px) {
  .footer__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__logo {
  margin-bottom: 2.1rem;
}
.footer__social {
  display: flex;
  flex-direction: column;
}
@media (max-width: 467px) {
  .footer__social {
    align-items: center;
  }
}
.footer__social i {
  color: #fff;
}
.footer__title {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  padding: 1.2rem;
  margin-bottom: 2.6rem;
  cursor: pointer;
  border-bottom: 0.2rem solid transparent;
  background-image: linear-gradient(to right, #4BAF47, #4BAF47);
  background-repeat: no-repeat;
  background-size: 10px 2px; /* Линия будет шириной 10px и высотой 2px */
  background-position: left bottom; /* Положение в левом нижнем углу */
  transition: 0.3s;
}
.footer__title:hover {
  background-size: 100% 2px;
}
.footer .form {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.footer .form__input {
  width: 22rem;
  padding: 1.6rem 0 1.6rem 2.1rem;
  border-radius: 1rem 0 0 1rem;
}
.footer .form__input::-moz-placeholder {
  color: #878680;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
}
.footer .form__input::placeholder {
  color: #878680;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
}
.footer .form__btn {
  width: 5rem;
  background-color: #4BAF47;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .form__btn i {
  font-size: 1rem;
  color: #fff;
}
.footer .social__link {
  background-color: #1f1e17;
  border: none;
}
.footer .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  margin-bottom: 2.5rem;
}
.footer .contact__item {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
}
.footer .contact__item i {
  color: #eec044;
  font-size: 1.5rem;
}
.footer .contact__text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #A5A49A;
}
.footer__bottom {
  background-color: #1f1e17;
}
.footer__bottom .footer__container {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 467px) {
  .footer__bottom .footer__container {
    flex-direction: column;
  }
}
.footer__bottom-copy {
  font-size: 1.4rem;
}
.footer__bottom-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom-link {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  color: #a5a49a;
}
.footer__bottom-link:not(:last-child) {
  border-right: 0.1rem solid #a5a49a;
}
.footer__bottom-link:hover {
  opacity: 0.5;
}

.explore__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.explore__item i {
  color: #A5A49A;
  font-size: 1.5rem;
  margin-right: 1rem;
  display: block;
}
.explore__link {
  color: #A5A49A;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
  padding: 0.5rem 1rem;
}
.explore__link:hover {
  opacity: 0.5;
}

.news-footer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.news-footer__item:not(:last-child) {
  margin-bottom: 2.5rem;
}
.news-footer__text {
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}
.news-footer__date {
  font-size: 1.5rem;
  font-weight: 400;
  color: #eec044;
}

@media (max-width: 900px) {
  .nav {
    display: none;
    position: absolute;
    top: 16.5rem;
    left: 2rem;
  }
  .nav.active {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .nav {
    display: block;
    width: 100%;
    padding: 11rem 1rem 1rem;
    left: 0;
    position: fixed;
    top: -100%;
    transition: all 1s ease;
    background: rgb(41, 40, 37);
  }
  .nav.active {
    top: 14.5rem;
    z-index: 1;
    bottom: 0;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.5rem;
  z-index: 50;
}
@media (max-width: 900px) {
  .nav__list {
    flex-direction: column;
    background: rgb(41, 40, 37);
    border-radius: 2rem;
    width: 20rem;
  }
}
@media (max-width: 1225px) {
  .nav__list {
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .nav__list {
    width: 100%;
    justify-content: flex-start;
  }
}
.nav__item {
  position: relative;
}
.nav__item.active ul {
  display: block;
}
.nav__item ul {
  display: none;
  position: absolute;
  width: 18rem;
  background: #E4E2D7;
}
@media (max-width: 900px) {
  .nav__item ul {
    left: 100%;
  }
}
@media (max-width: 767px) {
  .nav__item ul {
    width: 100%;
    position: static;
  }
}
.nav__item ul li {
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.nav__item ul li a {
  display: block;
}
.nav__item ul li:hover {
  opacity: 0.5;
}
@media (min-width: 900px) {
  .nav__item:hover ul {
    display: block;
  }
}
@media (max-width: 900px) {
  .nav__item {
    width: 100%;
    text-align: center;
  }
}
.nav__link {
  color: #878680;
  padding: 1rem 1.5rem;
  display: block;
}
@media (max-width: 900px) {
  .nav__link.drop-btn {
    display: none;
  }
}
.nav__link.active {
  color: #1F1E17;
}
@media (max-width: 900px) {
  .nav__link.active {
    color: #dbd5ad;
  }
}
@media (max-width: 900px) {
  .nav__link {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .nav__link {
    display: block;
    width: 100%;
  }
}
.nav__link:hover {
  box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
}
.nav__link:active {
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.nav .mobile-drop {
  display: none;
}
@media (max-width: 900px) {
  .nav .mobile-drop {
    display: block;
  }
}

.drop-btn {
  position: relative;
}
.drop-btn::before {
  content: "\e98c";
  position: absolute;
  top: 10px;
  right: 0.2rem;
  display: block;
  font-family: "icomoon";
  font-size: 1rem;
}
.drop-btn:hover::before {
  content: "\e98b";
}
.drop-btn:hover ul {
  display: flex;
  position: absolute;
  padding-top: 2rem;
  min-width: 10rem;
  top: 3.5rem;
  left: 0;
  gap: 1rem;
  flex-direction: column;
  transition: all 0.3s ease;
  background: #656060;
  opacity: 0.5;
}
.drop-btn:hover ul li a {
  padding: 1rem 1rem;
  display: block;
}

.promo {
  background-image: url("../img/img-main/img-promo.jpeg");
  background-size: cover;
  background-position: center;
  padding: 18.1rem 0;
}
@media (max-width: 900px) {
  .promo {
    padding: 13rem 0;
  }
}
.promo__container {
  position: relative;
}
.promo__body {
  max-width: 55.5rem;
}
@media (max-width: 467px) {
  .promo__body {
    max-width: 30rem;
  }
}
.promo__subtitle {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1.8rem;
}
.promo__title {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-size: 12rem;
  line-height: 11rem;
  color: #fff;
  margin-bottom: 2.6rem;
  position: relative;
}
@media (max-width: 900px) {
  .promo__title {
    font-size: 5rem;
  }
}
@media (max-width: 467px) {
  .promo__title {
    font-size: 3rem;
  }
}
.promo__title::before {
  content: "";
  position: absolute;
  background: url("../../img/img-main/img-decor-title.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 9.6rem;
  height: 7.5rem;
  top: 7.4rem;
  right: -0.3rem;
}
@media (max-width: 900px) {
  .promo__title::before {
    top: -2.6rem;
    right: 2.7rem;
  }
}
@media (max-width: 467px) {
  .promo__title::before {
    right: -5.3rem;
  }
}
.promo__text {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 4.4rem;
}
.promo__btn {
  display: flex;
  gap: 2rem;
}
.promo__img-decor {
  width: 11.5rem !important;
  height: 5.3rem;
}
.promo .owl-carousel {
  z-index: 0;
}
.promo .owl-carousel__item {
  padding: 2rem 0;
}
.promo .owl-nav {
  position: absolute;
  width: 100rem;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}
@media (max-width: 1000px) {
  .promo .owl-nav {
    width: 75rem;
  }
}
@media (max-width: 900px) {
  .promo .owl-nav {
    width: 50rem;
  }
}
.promo .owl-prev,
.promo .owl-next {
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 50%;
  border: 0.3rem solid #fff !important;
}
@media (max-width: 900px) {
  .promo .owl-prev,
  .promo .owl-next {
    width: 3.6rem;
    height: 3.6rem;
  }
}
.promo .disabled {
  opacity: 0.5;
}

.about {
  padding-bottom: 12rem;
}
.about__container {
  display: flex;
  gap: 3rem;
  margin-top: -65px;
  margin-bottom: 10.6rem;
  align-items: center;
}
@media (max-width: 467px) {
  .about__container {
    flex-direction: column;
  }
}
.about__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 4.8rem 9.1rem 1.3rem;
  box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  background: #fff;
  min-height: 100%;
}
@media (max-width: 900px) {
  .about__item {
    padding: 2.8rem 4.1rem 1.3rem;
  }
}
@media (max-width: 467px) {
  .about__item {
    width: 50%;
  }
}
.about__subtitle {
  margin-bottom: 3rem;
}
.about__text {
  flex: 1 1 auto;
  font-size: 2.4rem;
  font-weight: 800;
  color: #1F1E17;
  margin-bottom: 1rem;
  text-align: center;
}
.about__img {
  width: 9rem;
  height: 9rem;
  border-radius: 0.1rem;
}

.about-body__container {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}
@media (max-width: 767px) {
  .about-body__container {
    flex-direction: column;
    align-items: center;
  }
}
.about-body__img {
  flex: 1;
  position: relative;
}
.about-body__img-big {
  width: 55rem;
  border-radius: 50%;
}
@media (max-width: 467px) {
  .about-body__img-big {
    width: 40rem;
  }
}
.about-body__img-small {
  position: absolute;
  bottom: 0.7rem;
  left: -4rem;
  width: 26rem;
  height: 25rem;
  border-radius: 50%;
  outline: 1rem solid #fff;
}
@media (max-width: 467px) {
  .about-body__img-small {
    bottom: -2.3rem;
    left: -3rem;
    width: 15rem;
    height: 16rem;
  }
}
.about-body__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .about-body__content {
    align-items: center;
    padding: 10px 80px;
  }
}
@media (max-width: 467px) {
  .about-body__content {
    padding: 10px;
  }
}
.about-body__title {
  margin-bottom: 3.4rem;
  text-align: left;
}
@media (max-width: 767px) {
  .about-body__title {
    text-align: center;
  }
}
.about-body__label {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 800;
  color: #4baf47;
  margin-bottom: 3.3rem;
}
.about-body__text {
  margin-bottom: 4.1rem;
}
.about-body__info {
  display: flex;
  gap: 4.5rem;
  margin-bottom: 3.6rem;
}
.about-body__info .info__item {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.about-body__info .info__item img {
  width: 6rem;
  height: 6rem;
}
.about-body__info .info__item p {
  margin: 0;
}
.about-body__list {
  margin-bottom: 4rem;
}
.about-body__item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.about-body__item .icon-check {
  color: #c5ce38;
}

.offer {
  background-color: #F8F7F0;
  padding: 11.3rem 0;
  text-align: center;
}
.offer__title {
  margin-bottom: 5rem;
}
.offer__items {
  display: flex;
  gap: 3rem;
  align-items: center;
}
@media (max-width: 767px) {
  .offer__items {
    flex-direction: column;
    gap: 7rem;
  }
}
.offer__item {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  height: 60rem;
  position: relative;
}
@media (max-width: 900px) {
  .offer__item {
    height: 40rem;
  }
}
@media (max-width: 767px) {
  .offer__item {
    height: 50rem;
    flex: auto;
    width: 40%;
  }
}
@media (max-width: 467px) {
  .offer__item {
    width: 65%;
  }
}
.offer__body {
  background-color: #fff;
  padding: 2rem 5rem;
  width: 22rem;
  position: absolute;
  top: 70%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 1rem;
  box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
}
.offer__img {
  border-radius: 1rem;
  position: absolute;
  top: -6rem;
  right: 50%;
  transform: translatex(50%);
}
@media (max-width: 900px) {
  .offer__img {
    top: -8rem;
  }
}
@media (max-width: 900px) {
  .offer__img {
    top: -10rem;
  }
}

.video {
  background-image: url("../img/img-main/section-video/bg-img.jpeg");
  background-size: cover;
  background-position: center;
  padding: 12rem 0;
}
.video__header {
  background-color: #4BAF47;
  border-radius: 1rem;
  padding: 5.7rem 1rem;
  margin: -16.5rem 0 10.5rem;
}
.video__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.video__link {
  padding: 2rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}
.video__link:hover {
  border-radius: 1rem;
  box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
}
.video__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
@media (max-width: 767px) {
  .video__body {
    flex-direction: column;
  }
}
.video__title {
  font-size: 7rem;
  font-weight: 800;
  color: #fff;
  line-height: 1.2;
  max-width: 49rem;
}
@media (max-width: 767px) {
  .video__title {
    font-size: 5rem;
    text-align: center;
  }
}
.video__icon {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-right: 6.5rem;
}
@media (max-width: 767px) {
  .video__icon {
    margin: 0;
  }
}
.video__icon span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: block;
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-left: 2.5rem solid #1f1e17;
  border-bottom: 1.5rem solid transparent;
}

.projects__container-1 {
  padding: 12rem 0;
}
.projects__title {
  margin-bottom: 5rem;
}
.projects__body {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 767px) {
  .projects__body {
    flex-direction: column;
  }
}
.projects__item {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 4rem;
}
@media (max-width: 767px) {
  .projects__item {
    width: 40%;
  }
}
@media (max-width: 467px) {
  .projects__item {
    width: 65%;
  }
}
.projects__text {
  font-size: 3rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.reviews {
  background-color: #F8F7F0;
}
.reviews__container {
  display: flex;
  padding: 13rem 1.5rem 12.7rem;
  gap: 6rem;
  align-items: center;
}
@media (max-width: 1000px) {
  .reviews__container {
    gap: 1rem;
  }
}
@media (max-width: 767px) {
  .reviews__container {
    flex-direction: column;
    gap: 3rem;
  }
}
.reviews__main {
  flex: 0 0 33rem;
}
@media (max-width: 767px) {
  .reviews__main {
    text-align: center;
  }
}
.reviews__subtitle {
  text-align: left;
}
@media (max-width: 767px) {
  .reviews__subtitle {
    text-align: center;
  }
}
.reviews__title {
  text-align: left;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .reviews__title {
    text-align: center;
  }
}
.reviews__text {
  margin-bottom: 4.3rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.reviews .btn {
  padding: 1.5rem 5rem;
}
.reviews__item {
  display: flex;
  gap: 4.5rem;
}
@media (max-width: 767px) {
  .reviews__item {
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
  }
}
.reviews__body {
  flex: 1;
  padding: 3.8rem 3rem;
  border-radius: 1rem;
  background-color: #fff;
  height: 100%;
}
@media (max-width: 1000px) {
  .reviews__body {
    padding: 3.8rem 1rem;
  }
}
.reviews__body .owl-nav {
  display: flex;
  gap: 1rem;
}
@media (max-width: 767px) {
  .reviews__body .owl-nav {
    justify-content: center;
  }
}
.reviews__body .owl-nav .owl-prev,
.reviews__body .owl-nav .owl-next {
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 50%;
  border: 0.1rem solid #878680 !important;
}
.reviews__body .owl-nav .disabled {
  opacity: 0.5;
}
.reviews__body .reviews-carousel {
  max-width: 71rem;
}
@media (max-width: 467px) {
  .reviews__body .reviews-carousel {
    max-width: 49rem;
  }
}
.reviews__body .owl-stage-outer {
  margin-bottom: 2rem;
}
.reviews .star {
  display: inline-block;
  font-size: 2rem;
  color: #878680;
  cursor: pointer;
}
.reviews .star.active,
.reviews .star:hover {
  color: rgb(234, 201, 16);
}
.reviews__carousel-body {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  max-width: 52rem;
}
.reviews__carousel-img {
  min-width: 12.6rem;
  height: 12.6rem;
  border: 0.5rem solid #fff;
  border-radius: 50%;
  background-color: #f8f7f0;
  outline: 0.3rem dashed rgb(250, 215, 14);
  margin-top: 1rem;
  position: relative;
}
.reviews__carousel-img::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  bottom: -30px;
  left: 34px;
  background: #4baf47;
}
@media (max-width: 767px) {
  .reviews__carousel-img::before {
    bottom: -19px;
    left: 21px;
  }
}

.carousel-body__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-body__name {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 800;
  color: #1F1E17;
}

.benefits__container {
  display: flex;
  padding: 12rem 1.5rem 11.3rem;
}
@media (max-width: 767px) {
  .benefits__container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
.benefits__img {
  flex: 0 0 70rem;
  position: relative;
}
@media (max-width: 1000px) {
  .benefits__img {
    flex: 0 0 50rem;
  }
}
.benefits__img img {
  height: 100%;
}
.benefits__slogan {
  width: 30rem;
  height: 17rem;
  border-radius: 1rem 1rem 0 1rem;
  background-color: #eec044;
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 5rem;
  position: absolute;
  top: 14rem;
  left: 31rem;
}
@media (max-width: 1000px) {
  .benefits__slogan {
    width: 21rem;
    height: 16rem;
    left: 23rem;
  }
}
.benefits__slogan::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: -4.8rem;
  border-top: 5rem solid #eec044;
  border-left: 5rem solid transparent;
}
.benefits__slogan span {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #EEC044;
  text-align: center;
  display: block;
  color: #fff;
}
.benefits__body {
  flex: 1;
  padding: 0 1.5rem;
}
@media (max-width: 767px) {
  .benefits__body {
    text-align: center;
  }
}
.benefits__subtitle {
  text-align: left;
}
@media (max-width: 767px) {
  .benefits__subtitle {
    text-align: center;
  }
}
.benefits__title {
  text-align: left;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}
.benefits__list {
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .benefits__list {
    text-align: left;
  }
}
.benefits .btn {
  padding: 1.5rem 5rem;
}

.benefits__item {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
}
.benefits__item .item__title {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2;
  display: block;
  color: #1F1E17;
  margin-bottom: 0.5rem;
}
.benefits__item .icon-check {
  font-size: 4rem;
}
.benefits__item .check-color1 {
  color: #4baf47;
}
.benefits__item .check-color2 {
  color: #c5ce38;
}
.benefits__item .check-color3 {
  color: #eec044;
}

.news__container {
  padding-bottom: 12rem;
}
.news__title {
  margin-bottom: 5rem;
}
.news__items {
  display: flex;
  gap: 3rem;
}
@media (max-width: 767px) {
  .news__items {
    flex-direction: column;
    align-items: center;
  }
}
.news__item {
  flex: 1;
  height: 51rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
@media (max-width: 767px) {
  .news__item {
    flex: auto;
    width: 45%;
  }
}
@media (max-width: 467px) {
  .news__item {
    width: 80%;
  }
}
.news__body {
  height: 21.5rem;
  background-color: #fff;
  padding: 0 3.6rem 4.1rem;
  width: 100%;
  text-align: center;
}
@media (max-width: 900px) {
  .news__body {
    padding: 0 2.6rem 2.1rem;
  }
}
.news__body .btn {
  margin: -4.8rem 0 1.5rem 0;
}
.news__body .icon-news {
  color: #eec044;
  margin-left: 1rem;
}
.news__comments {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.news__text {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1.2;
  color: #1F1E17;
}

.reviews-items__container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 3rem 0;
  background-color: #fff;
}
.reviews-items__container-grid .reviews__item {
  box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 3rem 1rem;
}
.hidden {
  display: none;
}

.text-align {
  text-align: center;
  padding-bottom: 3rem;
}

.breadcrumbs {
  background-image: url("../../img/page-about/bg-breadcrumb.jpeg");
  background-size: cover;
  background-position: center;
}
.breadcrumbs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12rem 0;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item:not(:last-child) {
  position: relative;
}
.breadcrumbs__item:not(:last-child)::before {
  content: "/";
  position: absolute;
  top: 0;
  left: 100%;
  color: rgba(255, 255, 255, 0.7);
}
.breadcrumbs__link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 1rem 2rem;
}
.breadcrumbs__link-big {
  font-size: 5rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  padding: 0;
  text-transform: capitalize;
  line-height: 1;
}

.market__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  align-items: flex-start;
  padding: 12rem 1.5rem;
}
@media (max-width: 1000px) {
  .market__container {
    gap: 3rem;
  }
}
@media (max-width: 767px) {
  .market__container {
    flex-direction: column;
    align-items: center;
  }
}
.market__img {
  position: relative;
  flex: 0 0 45rem;
  width: 45rem;
  height: 60rem;
  border-radius: 1rem;
}
@media (max-width: 767px) {
  .market__img {
    flex: 0 0 60rem;
  }
}
.market__img::before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  top: 39%;
  left: -12%;
  background-color: #c5ce38;
  z-index: -1;
}
.market__img .img-big {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.market__img .img-small {
  position: absolute;
  width: 29rem;
  height: 32.1rem;
  bottom: 0;
  left: -12rem;
  border-radius: 1rem;
}
.market__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .market__body {
    align-items: center;
    width: 70%;
  }
}
.market__title {
  text-align: start;
  margin-bottom: 3.3rem;
}
.market__label {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  color: #4baf47;
  margin-bottom: 3rem;
}
.market__text {
  font-weight: 500;
}
.market__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.3rem;
}
.market__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #1f1e17;
}
.market__item i {
  font-size: 1.6rem;
  color: #c5ce38;
}

.video__about {
  position: relative;
}
.video__about .video__body {
  flex-direction: column-reverse;
  justify-content: center;
  max-width: 100%;
  gap: 10rem;
  margin-bottom: 10rem;
}
.video__about .video__header {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1e17;
}
.video__about .video__title {
  max-width: 100%;
  text-align: center;
}
.video__about .video__link {
  color: #a5a49a;
}

.say {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.say__container {
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.say__title {
  margin-bottom: 5rem;
}
.say__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  width: 90%;
}
@media (max-width: 767px) {
  .say__items {
    flex-direction: column;
    width: 80%;
  }
}
.say__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  gap: 5rem;
  padding: 3.8rem 4.6rem;
  border-radius: 1rem;
  position: relative;
}
.say__photo {
  flex: 0 0 14rem;
  position: relative;
  margin: 0 0 0 -10.6rem;
}
.say__photo img {
  border-radius: 1rem;
}
.say__photo::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #4baf47;
  border-radius: 50%;
  top: 50%;
  right: -2.5rem;
  transform: translateY(-50%);
}
.say__text {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
}

.custamer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custamer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.custamer__name {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1;
  color: #1f1e17;
}
.custamer__label {
  font-weight: 500;
  color: #878680;
}
.custamer .star {
  color: #eec044;
}

.farmer__container {
  padding: 11.3rem 1.5rem 12rem;
}
.farmer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 767px) {
  .farmer__items {
    flex-direction: column;
  }
}
.farmer__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 37rem;
  height: 44rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
}
.farmer__body {
  background-color: #fff;
  display: flex;
  padding: 2rem 6rem 2rem 0;
  gap: 2rem;
  border-radius: 1rem 0 0 1rem;
}
.farmer__img {
  margin: 0 0 0 -2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.offer-services {
  padding: 12rem 0 19.4rem;
  background-color: #fff;
}
@media (max-width: 767px) {
  .offer-services .offer__items {
    gap: 15rem;
  }
  .offer-services .offer__item {
    height: 32rem;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .offer-services .offer__item {
    height: 50rem;
  }
}
@media (max-width: 767px) and (max-width: 467px) {
  .offer-services .offer__item {
    width: 65%;
  }
}

.offer__body {
  margin: 11rem 0 0 0;
}

.services-slider {
  background-color: #F8F7F0;
}
.services-slider__container {
  position: relative;
}
.services-slider .slider__items {
  padding: 8rem 0;
}
.services-slider .slider__item {
  flex: 0 0 19rem;
  width: 19rem;
  height: 7.5rem;
}

.services__video {
  padding: 12rem 0 19rem;
}
.services__video .video__body {
  position: relative;
}
@media (max-width: 767px) {
  .services__video .video__body {
    flex-direction: column;
  }
}
.services__video .video__body::after {
  content: "Watch our video";
  position: absolute;
  bottom: 6rem;
  right: 17rem;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #EEC044;
  text-align: center;
  display: block;
  font-size: 3rem;
}
@media (max-width: 767px) {
  .services__video .video__body::after {
    bottom: 11rem;
  }
}

.food__container {
  padding-bottom: 12.5rem;
}
.food__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: -60px 0 12rem 0;
}
@media (max-width: 767px) {
  .food__items {
    flex-direction: column;
    gap: 5rem;
  }
}
.food__item {
  flex: 0 0 37rem;
  box-shadow: 0rem 0.4rem 3.4rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .food__item {
    width: 40%;
  }
}
@media (max-width: 467px) {
  .food__item {
    width: 65%;
  }
}
.food__item img {
  border-radius: 0 0 1rem 1rem;
}
.food__label {
  text-align: center;
  display: block;
  background-color: #fff;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
  color: #000;
  padding: 2rem 1rem;
  border-radius: 1rem 1rem 0 0;
}
.food__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
  gap: 8.5rem;
}
@media (max-width: 767px) {
  .food__body {
    flex-direction: column;
    align-items: center;
  }
}
.food__img {
  flex: 0 0 50rem;
  border-radius: 1rem;
}
.food__img img {
  border-radius: 1rem;
}
.food__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .food__main {
    align-items: center;
  }
}
.food__title {
  margin-bottom: 3rem;
}
.food__text:not(:last-child) {
  margin-bottom: 3rem;
}

.choice__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  max-width: 100%;
}
@media (max-width: 767px) {
  .choice__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.choice__list .choice-bg-green {
  background-color: #4baf47;
}
.choice__list .choice-bg-drgreen {
  background-color: #c5ce38;
}
.choice__list .choice-bg-orange {
  background-color: #eec044;
}
.choice__item {
  flex: 0 0 33.333%;
}
.choice__link {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 1rem;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
}
.choice__link i {
  font-size: 6rem;
}

.popular {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popular__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9rem 1.5rem;
}
@media (max-width: 767px) {
  .popular__container {
    flex-direction: column;
  }
}
.popular__subtitle {
  text-align: left;
}
@media (max-width: 767px) {
  .popular__subtitle {
    text-align: center;
  }
}
.popular__text {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
}
@media (max-width: 767px) {
  .popular__text {
    text-align: center;
  }
}

.agro-prod__container {
  display: grid;
  grid-template-columns: minmax(370px, 1fr) 3fr;
  grid-template-areas: "sidebar body";
  gap: 3rem;
  padding: 12rem 1.5rem;
}
.agro-prod__body {
  grid-area: body;
  background: #228036;
}

#sidebar {
  grid-area: sidebar;
}

.sidebar__nav {
  margin-bottom: 3rem;
  background-color: #F8F7F0;
  border-radius: 1rem;
  padding: 4.6rem 5rem 3.6rem;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar__item {
  width: 100%;
}
.sidebar__item:not(:last-child) {
  margin-bottom: 0.8rem;
}
.sidebar__title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
  color: #1F1E17;
  display: block;
}
.sidebar__link {
  font-size: 1.6rem;
  line-height: 1.9;
  font-weight: 600;
  color: #878680;
}

.help {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4.1rem 5.8rem 4.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}
.help__title {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
  margin-bottom: 3.3rem;
}
.help__text {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 500;
  color: #C3F5C1;
  margin-bottom: 0.7rem;
  text-align: center;
}
.help__link {
  font-family: "Covered By Your Grace", cursive;
  font-size: 3.6rem;
  line-height: 1.9;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #fff;
}
.help .btn-sidebar {
  text-transform: capitalize;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */